body {
    background-color: #f0f3fa;
}

nav {
    border: 1px solid none;
    padding: 2px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.navelement {
    color: white;
    border: 2px solid rgb(238, 244, 245);
    background-color: rgba(3, 21, 57, 0.856);
    border-radius: 15px;
    padding: 2px 10px;
    margin: 5px, 5px;
}

.navelement:hover {
    text-decoration: underline;
    background-color: rgb(65, 79, 236);
}

#myName {
    margin: auto;
    width: 50%;
    text-align: center;
    color: rgb(91, 2, 2);
}

#form {
    margin: auto;
    text-align: center;
}

#photo {
    text-align: center;
    margin: auto;
    width: 200px;
    height: 200px;
    display: block;
}

#altschool {
    font-size: 40px;
    margin: 5px 5px;
    flex-grow: 2;
}

#intro {
    background-color: rgb(147, 147, 210);
    font-size: large;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100px;
    width: 50%;
    text-align: center;
    margin: auto;
}

#calc {
    background-color: brown;
}