.calcButton {
    background-color: rgb(85, 126, 179);
    border: solid 1px;
    border-radius: 15%;
    text-align: center;
    height: 30px;
    width: 30px;
    display: table-cell;
    border-spacing: 10px;
}

table {
    margin: auto;
    border: solid 2px black;
    background-color: cornflowerblue;
    height: 250px;
    width: 200px;
    color: rgb(92, 10, 4)
}

#screen {
    padding-bottom: 10%;
}

.heading {
    text-align: center;
}

p {
    text-align: center;
}


/* td {
    background-color: rgb(85, 126, 179);
    border: solid 1px;
    border-radius: 15%;
    text-align: center;
    height: 35px;
    width: 30px;
    display: table-cell;
    border-spacing: 10px;
} */